
.pagina{

padding: 0px;
background: rgb(243, 243, 243);
height: 300vh;
overflow: hidden;

}


.center {

  width: 100vw;
  height: 50vh;
  background: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  width: 450px;
  height: 250px;
  background: linear-gradient(#f7c7c7, #bfe1e4);  
  border-radius: 10px;

}

.container {

justify-content: center;
align-content: center;


}

.containerbotao {
text-align: center;
}
 

#rodape {
  z-index: 45;
  background-color:#a3ecc4 ;
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  }